In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [8]:
# pip install geopandas

In [9]:
# pip install arcpy

In [10]:
# import arcpy

# # Set the workspace to your geodatabase (replace 'your.gdb' with the actual path)
# arcpy.env.workspace = '/Users/macbook/Desktop/NLCD:CDL Datasets/2018_National_CSB_gdb/National_Final_gdb/CSB1118.gdb/a0000000d.gdbtable'

# # Define the input table (replace 'your_table_name' with the actual table name)
# input_table = 'CSB_2018'

# # Define the output CSV file path (replace 'output.csv' with your desired output file name)
# output_csv = '/Users/macbook/Desktop/NLCD:CDL Datasets/2018_National_CSB_gdb/National_Final_gdb/CSB_2018.csv'

# # Use the TableToTable_conversion tool to convert the table to CSV
# arcpy.TableToTable_conversion(input_table, '/Users/macbook/Desktop/NLCD:CDL Datasets/2018_National_CSB_gdb/National_Final_gdb', 'output.csv')

# print("Conversion complete.")

In [12]:
# import geopandas as gpd

# # Replace 'your.gdb' with the path to your .gdb file (without the .gdbtable extension)
# gdb_path = '/Users/macbook/Desktop/NLCD:CDL Datasets/2018_National_CSB_gdb/National_Final_gdb/CSB1118.gdb'

# # Replace 'your_table_name' with the name of the table you want to convert
# table_name = 'CSB_2018'

# # Open the file geodatabase and read the specified table
# gdb = gpd.read_file(gdb_path, layer=table_name)

# # Convert the GeoDataFrame to a regular DataFrame
# df = gdb.drop(columns='geometry')

# # Print the first few rows of the DataFrame to see its contents
# print(df.head())

In [26]:
corn_data = pd.read_csv('/Users/macbook/Desktop/NLCD:CDL Datasets/Corn_data.csv')

In [27]:
corn_data.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,CORN - ACRES PLANTED - <b>VALUE</b>,CORN - ACRES PLANTED - <b>CV (%)</b>,"CORN, GRAIN - ACRES HARVESTED - <b>VALUE</b>","CORN, GRAIN - ACRES HARVESTED - <b>CV (%)</b>","CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU - <b>VALUE</b>","CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU - <b>CV (%)</b>","CORN, GRAIN - PRODUCTION, MEASURED IN BU - <b>VALUE</b>","CORN, GRAIN - PRODUCTION, MEASURED IN BU - <b>CV (%)</b>","CORN, GRAIN - YIELD, MEASURED IN BU / ACRE - <b>VALUE</b>","CORN, GRAIN - YIELD, MEASURED IN BU / ACRE - <b>CV (%)</b>"
0,CENSUS,2007,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,"86,248,542",NaN,NaN,NaN,"12,738,519,330",NaN,NaN,NaN
1,CENSUS,2007,YEAR,NaN,STATE,ALABAMA,1.0,NaN,NaN,NaN,...,NaN,NaN,"276,661",NaN,NaN,NaN,"21,008,771",NaN,NaN,NaN
2,CENSUS,2007,YEAR,NaN,STATE,ARIZONA,4.0,NaN,NaN,NaN,...,NaN,NaN,"22,654",NaN,NaN,NaN,"4,083,974",NaN,NaN,NaN
3,CENSUS,2007,YEAR,NaN,STATE,ARKANSAS,5.0,NaN,NaN,NaN,...,NaN,NaN,"584,629",NaN,NaN,NaN,"99,778,632",NaN,NaN,NaN
4,CENSUS,2007,YEAR,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,...,NaN,NaN,"189,965",NaN,NaN,NaN,"34,602,626",NaN,NaN,NaN

In [28]:
print(corn_data.columns)

Index(['Program', 'Year', 'Period', 'Week Ending', 'Geo Level', 'State',
       'State ANSI', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed',
       'Commodity', 'Domain', 'Domain Category',
       'CORN - ACRES PLANTED  -  <b>VALUE</b>',
       'CORN - ACRES PLANTED  -  <b>CV (%)</b>',
       'CORN, GRAIN - ACRES HARVESTED  -  <b>VALUE</b>',
       'CORN, GRAIN - ACRES HARVESTED  -  <b>CV (%)</b>',
       'CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU  -  <b>VALUE</b>',
       'CORN, GRAIN - PRICE RECEIVED, MEASURED IN $ / BU  -  <b>CV (%)</b>',
       'CORN, GRAIN - PRODUCTION, MEASURED IN BU  -  <b>VALUE</b>',
       'CORN, GRAIN - PRODUCTION, MEASURED IN BU  -  <b>CV (%)</b>',
       'CORN, GRAIN - YIELD, MEASURED IN BU / ACRE  -  <b>VALUE</b>',
       'CORN, GRAIN - YIELD, MEASURED IN BU / ACRE  -  <b>CV (%)</b>'],
      dtype='object')

In [30]:
needed_cols = ['Year', 'Period', 'State', 'State ANSI', 'CORN, GRAIN - ACRES HARVESTED  -  <b>VALUE</b>', 'CORN, GRAIN - PRODUCTION, MEASURED IN BU  -  <b>VALUE</b>']
corn_data = corn_data[needed_cols]
corn_data.head()

,Year,Period,State,State ANSI,"CORN, GRAIN - ACRES HARVESTED - <b>VALUE</b>","CORN, GRAIN - PRODUCTION, MEASURED IN BU - <b>VALUE</b>"
0,2007,YEAR,US TOTAL,NaN,"86,248,542","12,738,519,330"
1,2007,YEAR,ALABAMA,1.0,"276,661","21,008,771"
2,2007,YEAR,ARIZONA,4.0,"22,654","4,083,974"
3,2007,YEAR,ARKANSAS,5.0,"584,629","99,778,632"
4,2007,YEAR,CALIFORNIA,6.0,"189,965","34,602,626"