In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
CDL = pd.read_csv('/Users/macbook/Desktop/DRFEWS-data/CDL_County_Cellwise_55141.csv')
NLCD = pd.read_csv('/Users/macbook/Desktop/DRFEWS-data/NLCD_County_Cellwise_SpatialJoin_55141.csv')

/var/folders/hs/y116vr4j4yg5fcthw_l99c5r0000gn/T/ipykernel_79477/1795110544.py:2: DtypeWarning: Columns (25,26,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  NLCD = pd.read_csv('/Users/macbook/Desktop/DRFEWS-data/NLCD_County_Cellwise_SpatialJoin_55141.csv')

# NLCD

In [3]:
NLCD.head()

,cell,GEOID,CSAFP,CBSAFP,LU_2001,LU_2004,LU_2006,LU_2008,LU_2011,LU_2013,...,MaxTexture,x,y,Slope_Degrees,FIPS_UA00,Name_UA00,Type_UA00,FIPS_UA10,Name_UA10,Type_UA10
0,139758948.0,55141,554,49220,Developed,Developed,Developed,Developed,Developed,Developed,...,loamy-skeletal,472410.0,2404200.0,0.017531,NaN,NaN,NaN,NaN,NaN,NaN
1,139758949.0,55141,554,49220,Cropland,Cropland,Cropland,Cropland,Cropland,Cropland,...,loamy-skeletal,472440.0,2404200.0,0.016046,NaN,NaN,NaN,NaN,NaN,NaN
2,139758950.0,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,loamy-skeletal,472410.0,2404170.0,0.020382,NaN,NaN,NaN,NaN,NaN,NaN
3,139758951.0,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,fine-loamy,472440.0,2404170.0,0.029940,NaN,NaN,NaN,NaN,NaN,NaN
4,139758952.0,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,fine-loamy,472470.0,2404170.0,0.031191,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
NLCD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2267698 entries, 0 to 2267697
Data columns (total 30 columns):
 #   Column         Dtype
---  ------         -----
 0   cell           float64
 1   GEOID          int64
 2   CSAFP          int64
 3   CBSAFP         int64
 4   LU_2001        object
 5   LU_2004        object
 6   LU_2006        object
 7   LU_2008        object
 8   LU_2011        object
 9   LU_2013        object
 10  LU_2016        object
 11  LU_2019        object
 12  FIPS_cnty      int64
 13  FIPS_csa18     int64
 14  FIPS_cbsa18    int64
 15  AREASYMBOL     object
 16  SPATIALVER     int64
 17  MUSYM          object
 18  mapunit_key    int64
 19  nccpi          float64
 20  MaxTexture     object
 21  x              float64
 22  y              float64
 23  Slope_Degrees  float64
 24  FIPS_UA00      float64
 25  Name_UA00      object
 26  Type_UA00      object
 27  FIPS_UA10      float64
 28  Name_UA10      object
 29  Type_UA10      object
dtypes: float64(7), int64(8), object(15)
memory usage: 519.0+ MB

In [16]:
print(NLCD['LU_2006'].unique())

['Developed' 'Cropland' 'Forest' 'Pasture' 'Wetlands' 'Other']

# CDL

In [3]:
CDL.head()

,cell,x,y,GEOID,LU_2008,LU_2009,LU_2010,LU_2011,LU_2012,LU_2013,...,LU_2009_DRFEWS,LU_2010_DRFEWS,LU_2011_DRFEWS,LU_2012_DRFEWS,LU_2013_DRFEWS,LU_2014_DRFEWS,LU_2015_DRFEWS,LU_2016_DRFEWS,LU_2017_DRFEWS,LU_2018_DRFEWS
0,139758943.0,486270,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
1,139758944.0,486300,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
2,139758945.0,486330,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
3,139758946.0,486360,2426400,55141,Corn,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
4,139758947.0,486390,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest

In [4]:
not_needed = CDL.columns[15:]
CDL.drop(not_needed, axis=1, inplace=True)
CDL.head()

,cell,x,y,GEOID,LU_2008,LU_2009,LU_2010,LU_2011,LU_2012,LU_2013,LU_2014,LU_2015,LU_2016,LU_2017,LU_2018
0,139758943.0,486270,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest
1,139758944.0,486300,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest
2,139758945.0,486330,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest
3,139758946.0,486360,2426400,55141,Corn,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest
4,139758947.0,486390,2426400,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest

In [15]:
print(CDL['LU_2018'].unique())

['Deciduous Forest' 'Developed/Open Space' 'Other Hay/Non Alfalfa'
 'Alfalfa' 'Grassland/Pasture' 'Oats' 'Corn' 'Woody Wetlands'
 'Developed/Low Intensity' 'Shrubland' 'Herbaceous Wetlands'
 'Clover/Wildflowers' 'Soybeans' 'Evergreen Forest' 'Winter Wheat'
 'Mixed Forest' 'Fallow/Idle Cropland' 'Open Water' 'Rye' 'Herbs'
 'Christmas Trees' 'Developed/Med Intensity' 'Barren'
 'Developed/High Intensity' 'Barley' 'Triticale' 'Dry Beans' 'Potatoes'
 'Spring Wheat' 'Carrots' 'Peas' 'Sod/Grass Seed' 'Sorghum' 'Apples'
 'Cherries' 'Cucumbers' 'Sweet Potatoes' 'Strawberries'
 'Misc Vegs & Fruits' 'Cabbage' 'Squash' 'Dbl Crop WinWht/Soybeans'
 'Dbl Crop WinWht/Corn' 'Camelina' 'Other Crops']

In [10]:
print(CDL.shape)
print(NLCD.shape)

(2332210, 15)
(2267698, 30)

In [11]:
# Initialize empty data frames to store similar and dissimilar rows
similar_df = pd.DataFrame()
dissimilar_df = pd.DataFrame()

# Loop through each row of the data frame
for index, row in CDL.iterrows():
    
    # Check if inputs in columns 4-14 are the same
    if row[4:15].nunique() == 1:
        # If they're the same, add the row to the similar data frame
        similar_df = pd.concat([similar_df, row.to_frame().transpose()])
    else:
        # If they're not the same, add the row to the dissimilar data frame
        dissimilar_df = pd.concat([dissimilar_df, row.to_frame().transpose()])

KeyboardInterrupt: