In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
CDL = pd.read_csv('/Users/macbook/Desktop/DRFEWS-data/CDL_County_Cellwise_55141.csv')
NLCD = pd.read_csv('/Users/macbook/Desktop/DRFEWS-data/NLCD_County_Cellwise_SpatialJoin_55141.csv')

/var/folders/hs/y116vr4j4yg5fcthw_l99c5r0000gn/T/ipykernel_2609/1795110544.py:2: DtypeWarning: Columns (25,26,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  NLCD = pd.read_csv('/Users/macbook/Desktop/DRFEWS-data/NLCD_County_Cellwise_SpatialJoin_55141.csv')

In [3]:
# choosing 20000 rows from each dataset
CDL = CDL.sample(n=20000)
NLCD = NLCD.sample(n=20000)

# NLCD

In [4]:
NLCD.head()

,cell,GEOID,CSAFP,CBSAFP,LU_2001,LU_2004,LU_2006,LU_2008,LU_2011,LU_2013,...,MaxTexture,x,y,Slope_Degrees,FIPS_UA00,Name_UA00,Type_UA00,FIPS_UA10,Name_UA10,Type_UA10
1839402,161519039.0,55141,554,49220,Wetlands,Wetlands,Wetlands,Wetlands,Wetlands,Wetlands,...,not used,491970.0,2407110.0,0.000210,NaN,NaN,NaN,NaN,NaN,NaN
503854,146852404.0,55141,554,49220,Cropland,Cropland,Cropland,Cropland,Cropland,Cropland,...,fine-loamy,476670.0,2418750.0,0.016151,NaN,NaN,NaN,NaN,NaN,NaN
804772,150558442.0,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,fine-loamy,477540.0,2391630.0,0.065115,NaN,NaN,NaN,NaN,NaN,NaN
1343408,156150911.0,55141,554,49220,Forest,Forest,Forest,Forest,Forest,Forest,...,coarse-loamy over clayey,460470.0,2386350.0,0.004240,NaN,NaN,NaN,NaN,NaN,NaN
121599,141931763.0,55141,554,49220,Cropland,Cropland,Cropland,Cropland,Cropland,Cropland,...,fine-loamy,461160.0,2401740.0,0.036823,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
NLCD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 1839402 to 2130867
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cell           20000 non-null  float64
 1   GEOID          20000 non-null  int64
 2   CSAFP          20000 non-null  int64
 3   CBSAFP         20000 non-null  int64
 4   LU_2001        20000 non-null  object
 5   LU_2004        20000 non-null  object
 6   LU_2006        20000 non-null  object
 7   LU_2008        20000 non-null  object
 8   LU_2011        20000 non-null  object
 9   LU_2013        20000 non-null  object
 10  LU_2016        20000 non-null  object
 11  LU_2019        20000 non-null  object
 12  FIPS_cnty      20000 non-null  int64
 13  FIPS_csa18     20000 non-null  int64
 14  FIPS_cbsa18    20000 non-null  int64
 15  AREASYMBOL     20000 non-null  object
 16  SPATIALVER     20000 non-null  int64
 17  MUSYM          20000 non-null  object
 18  mapunit_key    20000 non-null  int64
 19  nccpi          20000 non-null  float64
 20  MaxTexture     19844 non-null  object
 21  x              20000 non-null  float64
 22  y              20000 non-null  float64
 23  Slope_Degrees  19991 non-null  float64
 24  FIPS_UA00      756 non-null    float64
 25  Name_UA00      756 non-null    object
 26  Type_UA00      756 non-null    object
 27  FIPS_UA10      783 non-null    float64
 28  Name_UA10      783 non-null    object
 29  Type_UA10      783 non-null    object
dtypes: float64(7), int64(8), object(15)
memory usage: 4.7+ MB

In [6]:
print(NLCD['LU_2006'].unique())

['Wetlands' 'Cropland' 'Forest' 'Developed' 'Pasture' 'Other']

# CDL

In [7]:
CDL.head()

,cell,x,y,GEOID,LU_2008,LU_2009,LU_2010,LU_2011,LU_2012,LU_2013,...,LU_2009_DRFEWS,LU_2010_DRFEWS,LU_2011_DRFEWS,LU_2012_DRFEWS,LU_2013_DRFEWS,LU_2014_DRFEWS,LU_2015_DRFEWS,LU_2016_DRFEWS,LU_2017_DRFEWS,LU_2018_DRFEWS
2259408,165306113.0,484680,2378430,55141,Open Water,Herbaceous Wetlands,Open Water,Open Water,Open Water,Open Water,...,Wetlands,Water,Water,Water,Water,Water,Water,Wetlands,Water,Water
1481643,157413497.0,485340,2393250,55141,Deciduous Forest,Deciduous Forest,Woody Wetlands,Deciduous Forest,Woody Wetlands,Woody Wetlands,...,Forest,Wetlands,Forest,Wetlands,Wetlands,Forest,Forest,Forest,Wetlands,Wetlands
1440861,156998118.0,486030,2394030,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Grassland/Pasture,Deciduous Forest,...,Forest,Forest,Forest,Pasture,Forest,Forest,Forest,Forest,Forest,Pasture
1317875,155751243.0,465960,2396370,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,...,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest,Forest
810268,150559290.0,483120,2406120,55141,Herbaceous Wetlands,Grassland/Pasture,Other Hay/Non Alfalfa,Corn,Other Hay/Non Alfalfa,Grassland/Pasture,...,Pasture,Pasture,Cropland,Pasture,Pasture,Pasture,Wetlands,Cropland,Cropland,Wetlands

In [8]:
not_needed = CDL.columns[15:]
CDL.drop(not_needed, axis=1, inplace=True)
CDL.head()

,cell,x,y,GEOID,LU_2008,LU_2009,LU_2010,LU_2011,LU_2012,LU_2013,LU_2014,LU_2015,LU_2016,LU_2017,LU_2018
2259408,165306113.0,484680,2378430,55141,Open Water,Herbaceous Wetlands,Open Water,Open Water,Open Water,Open Water,Open Water,Open Water,Herbaceous Wetlands,Open Water,Open Water
1481643,157413497.0,485340,2393250,55141,Deciduous Forest,Deciduous Forest,Woody Wetlands,Deciduous Forest,Woody Wetlands,Woody Wetlands,Deciduous Forest,Deciduous Forest,Mixed Forest,Woody Wetlands,Woody Wetlands
1440861,156998118.0,486030,2394030,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Grassland/Pasture,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Shrubland
1317875,155751243.0,465960,2396370,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest
810268,150559290.0,483120,2406120,55141,Herbaceous Wetlands,Grassland/Pasture,Other Hay/Non Alfalfa,Corn,Other Hay/Non Alfalfa,Grassland/Pasture,Other Hay/Non Alfalfa,Herbaceous Wetlands,Corn,Corn,Herbaceous Wetlands

In [9]:
print(CDL['LU_2018'].unique())

['Open Water' 'Woody Wetlands' 'Shrubland' 'Deciduous Forest'
 'Herbaceous Wetlands' 'Other Hay/Non Alfalfa' 'Alfalfa'
 'Evergreen Forest' 'Corn' 'Developed/Open Space' 'Soybeans'
 'Grassland/Pasture' 'Oats' 'Mixed Forest' 'Fallow/Idle Cropland'
 'Developed/Med Intensity' 'Developed/Low Intensity' 'Potatoes'
 'Developed/High Intensity' 'Winter Wheat' 'Barren' 'Clover/Wildflowers'
 'Dry Beans' 'Herbs' 'Barley' 'Apples' 'Christmas Trees' 'Cucumbers' 'Rye'
 'Sweet Potatoes' 'Sorghum']

In [10]:
print(CDL.shape)
print(NLCD.shape)

(20000, 15)
(20000, 30)

In [11]:
# Initialize empty data frames to store similar and dissimilar rows
similar_df = pd.DataFrame()
dissimilar_df = pd.DataFrame()

# Loop through each row of the data frame
for index, row in CDL.iterrows():
    
    # Check if inputs in columns 4-14 are the same
    if row[4:15].nunique() == 1:
        # If they're the same, add the row to the similar data frame
        similar_df = pd.concat([similar_df, row.to_frame().transpose()])
    else:
        # If they're not the same, add the row to the dissimilar data frame
        dissimilar_df = pd.concat([dissimilar_df, row.to_frame().transpose()])

In [15]:
dissimilar_df.head()

,cell,x,y,GEOID,LU_2008,LU_2009,LU_2010,LU_2011,LU_2012,LU_2013,LU_2014,LU_2015,LU_2016,LU_2017,LU_2018
2259408,165306113.0,484680,2378430,55141,Open Water,Herbaceous Wetlands,Open Water,Open Water,Open Water,Open Water,Open Water,Open Water,Herbaceous Wetlands,Open Water,Open Water
1481643,157413497.0,485340,2393250,55141,Deciduous Forest,Deciduous Forest,Woody Wetlands,Deciduous Forest,Woody Wetlands,Woody Wetlands,Deciduous Forest,Deciduous Forest,Mixed Forest,Woody Wetlands,Woody Wetlands
1440861,156998118.0,486030,2394030,55141,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Grassland/Pasture,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Deciduous Forest,Shrubland
810268,150559290.0,483120,2406120,55141,Herbaceous Wetlands,Grassland/Pasture,Other Hay/Non Alfalfa,Corn,Other Hay/Non Alfalfa,Grassland/Pasture,Other Hay/Non Alfalfa,Herbaceous Wetlands,Corn,Corn,Herbaceous Wetlands
1164445,154185489.0,465720,2399310,55141,Alfalfa,Grassland/Pasture,Other Hay/Non Alfalfa,Alfalfa,Other Hay/Non Alfalfa,Grassland/Pasture,Grassland/Pasture,Grassland/Pasture,Evergreen Forest,Grassland/Pasture,Deciduous Forest